<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Title" formControlName="title"
        required
      >
      <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.errors.required">
        Title is required!
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Owner" formControlName="owner"
        required
      >
      <mat-error *ngIf="owner.invalid && (owner.dirty || owner.touched) && owner.errors.required">
        Owner is required!
      </mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <textarea matInput placeholder="Content" formControlName="content"></textarea>
    </mat-form-field>
  
    <button mat-flat-button color="warn"
      type="submit"
      [disabled]="form.invalid"
    >Save</button>
  
  </form>